@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
i {
    color: rgb(3, 155, 229);
    line-height: 40px;
}

.onTop-button {
    position: fixed;
    right: 3%;
    bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}